.aeroport-card {
    background-color: white;
    border-radius: 12px;
    margin: 20px 10px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .aeroport-header {
    background-color: #e0e0e0;
    text-align: center;
    padding: 15px 0;
  }
  
  .aeroport-header h2 {
    font-size: 22px;
    font-weight: bold;
    color: black;
  }
  
  .aeroport-body {
    padding: 15px;
  }
  
  .aeroport-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .details p {
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .details span {
    font-weight: bold;
  }
  
  .tendance {
    color: red; /* Red for down trend */
  }
  
  ion-button {
    margin-top: 15px;
    --border-radius: 8px;
  }
  