ion-content {
  --background: #F3F4F7;
}

.notes-container {
  padding: 0 1.5rem;
}

.note-item {
  background: white;
  border: 1px solid rgba(29, 72, 153, 0.23);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.note-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.note-table {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 100%;
}

.note-table td {
  padding: 0.125rem 0;
  vertical-align: top;
}

.note-table td:first-child {
  padding-right: 0.5rem;
}

.note-table td:last-child {
  font-weight: bold;
  padding-left: 0.25rem;
}

.action-buttons {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.25rem;
}

.btn-edit {
  height: 2.25rem;
  border-radius: 8px;
  background-color: #D4D4D4;
  color: #292929;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  border: none;
  
  &:active {
    background-color: #b9b7b7;
  }
}

.btn-delete {
  height: 2.25rem;
  border-radius: 8px;
  background-color: #FBD5CD;
  color: #EB2F06;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  border: none;
  
  &:active {
    background-color: #dfb4ac;
  }
}

.btn-icon {
  margin-right: 0.25rem;
  width: 1rem;
  height: 1rem;
}

.empty-state {
  text-align: center;
  margin-top: 2.5rem;
  color: #6b7280;
}